td {
  font-family: sans-serif;
  line-height: 1.5;
}
.search1 {
  width: 85%;
  padding: 10px;
  margin: 0 10px;
}
ul {
  list-style: none;
  padding: 0;
}
.li1 {
  float: left;
  padding-left: 20px;
  cursor: pointer;
}
.subul1 {
  display: none;
  position: absolute;
  background-color: rgb(164, 176, 185);
  color: black;
}
ul li {
  padding: 0;
}
.li1:hover .subul1 {
  display: block;
}

#subul1 li {
  padding: 10px;
  border-bottom: 1px solid black;
}

#subul1 li:hover {
  background-color: blueviolet;
  color: white;
}

#subul1 li a {
  text-decoration: none;
  color: inherit;
  padding: 0px 42px;
}
.pro img {
  width: 30px;
  height: 30px;
  float: left;
  padding-left: 25px;
}
.li2 {
  padding-left: 0 !important;
}
.subul2 {
  margin-top: 31px;
}
.btn1 {
  padding: 15px 30px;
  margin-left: 10px;
  background: #0947b5;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.btn2 {
  background: white;
  color: #0947b5;
}
.tr1 {
  background-image: linear-gradient(rgb(20, 173, 33), rgb(148, 160, 167));
}
#card1 {
  width: 69%;
  margin: 0 auto;
}
#card1 img {
  width: 100%;
  float: left;
  border-radius: 10px 10px 0px 0px;
}
.card1div {
  background: white;
  width: 100%;
  height: 50px;
  float: left;
  border-radius: 0px 0px 10px 10px;
}
#banner {
  width: 100%;
  height: 100%;
  background-image: url("../images/bannerback2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
#banner h2 {
  margin: 0;

  float: left;

  padding-top: 49px;
  padding-left: 41px;
}
#slider {
  width: 100%;
}
#slider img {
  width: 30%;
  margin-left: 10px;
}
